In [4]:
#Importing required libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [5]:
df=pd.read_excel('data_final.xlsx')

In [6]:
df.head()

   observation  feature   price
0         0.44     0.68  511.14
1         0.99     0.23  717.10
2         0.84     0.29  607.91
3         0.28     0.45  270.40
4         0.07     0.83  289.88

In [7]:
#Checking for the shape of the dataset

df.shape

(100, 3)

In [8]:
#Checking for the information of the rows & columns

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   observation  100 non-null    float64
 1   feature      100 non-null    float64
 2   price        100 non-null    float64
dtypes: float64(3)
memory usage: 2.5 KB

In [9]:
#Checking for the statistical information

df.describe()

       observation     feature        price
count   100.000000  100.000000   100.000000
mean      0.550300    0.501700   554.214600
std       0.293841    0.307124   347.312796
min       0.010000    0.000000    42.080000
25%       0.300000    0.230000   278.172500
50%       0.570000    0.485000   514.285000
75%       0.822500    0.760000   751.752500
max       1.000000    0.990000  1563.820000

In [10]:
#Checking for the null values

df.isnull().sum()

observation    0
feature        0
price          0
dtype: int64

In [11]:
#From above we can conclude that no Null Values are present in the dataset

In [12]:
#Checking for the corelation

df.corr()

             observation   feature     price
observation     1.000000  0.041766  0.764315
feature         0.041766  1.000000  0.627476
price           0.764315  0.627476  1.000000

# From the dataset we can conclude that Price is a dependent variable i.e 'y' & 'Observation' & 'Feature are independent variable

### Splitting the columns accordingly

In [13]:
df.head()

   observation  feature   price
0         0.44     0.68  511.14
1         0.99     0.23  717.10
2         0.84     0.29  607.91
3         0.28     0.45  270.40
4         0.07     0.83  289.88

In [16]:
X=df.iloc[:,0:2]

In [17]:
y=df.iloc[:,-1:]

In [18]:
X.head()

   observation  feature
0         0.44     0.68
1         0.99     0.23
2         0.84     0.29
3         0.28     0.45
4         0.07     0.83

In [19]:
y.head()

    price
0  511.14
1  717.10
2  607.91
3  270.40
4  289.88

In [20]:
#Creating splits for train & test

from sklearn.model_selection import train_test_split

In [21]:
X_train, X_test, y_train, y_test=train_test_split(X,y, test_size=0.2, random_state=42)

In [22]:
#Checking for the shape of the splits created

X_train.shape, X_test.shape, y_train.shape, y_test.shape

((80, 2), (20, 2), (80, 1), (20, 1))

In [23]:
#For Hyperparameter Tuning importing the Cross_val_function

from sklearn.model_selection import cross_val_score

In [24]:
#Importing Linear Regression model

from sklearn.linear_model import LinearRegression

In [25]:
#Creating an object for the LinearRegression

model=LinearRegression()

In [26]:
model.fit(X_train, y_train)

LinearRegression()

In [30]:
#Using the cross_val_score for hyperparameter tuning & saving the result into variable

mse=cross_val_score(model, X_train, y_train, scoring='neg_mean_squared_error', cv=10)

In [31]:
mse

array([ -3489.15004094,  -5933.15700138,  -4664.45314491,  -7927.1549602 ,
        -4046.83077105, -23417.80708892, -13820.18664955,  -8350.06451218,
        -3194.37428223,  -2877.78787266])

In [32]:
#Considering the mean of 'mse'

np.mean(mse)

-7772.09663240167

In [33]:
#Doing the prediction

y_pred=model.predict(X_test)

In [35]:
y_pred

array([[ 749.76896963],
       [ 735.98936824],
       [ -48.85992817],
       [1062.20644707],
       [ 716.69328274],
       [1194.90581714],
       [ 975.78229373],
       [ 796.22763539],
       [ 157.64413694],
       [ 573.18572683],
       [ 897.84604006],
       [ 392.4709254 ],
       [ 557.34034613],
       [ 876.99318895],
       [ 726.73794801],
       [ 354.96783965],
       [ 919.53346956],
       [ 579.16989129],
       [ 870.75451763],
       [1063.1120833 ]])

In [36]:
#The above values are the predicted values

In [37]:
#Checking for the Confusion  Matrix

In [38]:
#Importing the libraries required for cross validating the predicted values

from sklearn.metrics import accuracy_score,classification_report,r2_score, roc_curve